.applicants-container{
    width: 100%;
}
.applicants-header{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.applicants-header input{
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    background: rgba(226, 226, 226, 0.486);
    color: rgb(85, 85, 85);
    font-size: 13px;
}
.applicants-header input:focus{
    outline: none;
}