.text-gray{ 
  color: #868585;
}

.bg-blue{
  background: #1d5fad;
}
.inside-modal-table{
  border-collapse: collapse;
  width: 98%;
}


.horizontal-scroll::-webkit-scrollbar,
.inside-modal-table-container::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
.horizontal-scroll::-webkit-scrollbar-track,
.inside-modal-table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.horizontal-scroll::-webkit-scrollbar-thumb:horizontal,
.inside-modal-table::-webkit-scrollbar-thumb:horizontal {
  background: #888;
}

/* Handle on hover */
.horizontal-scroll::-webkit-scrollbar-thumb:horizontal:hover,
.inside-modal-table::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555;
}

table.inside-modal-table th,
table.inside-modal-table td {
  text-align: left;
  padding: 10px 8px;
  font-size: 13px;
  height: 1em;
}
table.inside-modal-table th.center,
table.inside-modal-table td.center {
  text-align: center;
}

table.inside-modal-table img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

table.inside-modal-table tr:nth-child(even) {
  background: rgba(156, 161, 167, 0.08);
  width: 100%;
  color: #9a9a9a;
}

table.inside-modal-table tr:nth-child(odd) {
  background: #f1f5fa;
  border-radius: 10px;
  width: 100%;
  color: #9a9a9a;
}

table.inside-modal-table tr.blue {
  background: #f1f5fa;
}

table.inside-modal-table .space {
  height: 0.5rem;
  width: 100%;
  background-color: #fff;
}
table.inside-modal-table th {
  background: #f1f5fa;
  color: #1d5fad;
}

table.inside-modal-table th.red,
table.inside-modal-table td.red {
  color: #ad1d1d;
}

@media screen and (max-width: 992px) {
  table.inside-modal-table {
    width: max-content;
    min-width: 100%;
  }
}


.table-form-separator{
  width: 0.3em;
  height:inherit;
  background: #C4C4C4;
  border-radius: 8px;
}

#workStartDate{
  border: #c5c5c5 solid 2px;
  border-radius: 3px;
  padding: 0.3em 1em;
  color: #c5c5c5;
  width: 100%;
  margin-top: 0.5em;
}

.assign-trainers{
  margin: 0 !important;
  font-weight: bold;
}

.assign-trainer-container{
  width: 100%;
  min-height: 15rem;
  border-radius: 0px
    0px 20px 20px;
}

.assign-trainer-container button{
  background: #1d5fad;
  border-radius: 10px;
  padding: 0.5rem
    1.5rem;
  color: #fff;
  margin-top: 2rem;
  margin-left: 25%;
}
.trainer-transfer-info
  .header {
  background: #1d5fad;
  border-radius: 20px
    20px 0px 0px;
  padding: 1rem 2rem;
}


.trainer-transfer-info
  .content {
  width: 100%;
  min-height: 20rem;
  border-radius: 0px
    0px 20px 20px;
}

.trainer-transfer-info
  .references {
  width: 100%;
  min-height: 32rem;
  border-radius: 0px
    0px 20px 20px;
}

.trainer-transfer-info {
  min-width: 70%;
  min-height: 50%;
  max-height: 100%;
  overflow: auto;
}
.trainer-transfer-info.full {
  min-width: 100%;
  min-height: 100%;
}

.trainer-transfer-info::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.trainer-transfer-info::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.trainer-transfer-info::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.trainer-transfer-info.large {
  min-width: 90%;
}

.trainer-transfer-info.danger
  .header {
  background-color: #ad1d1d;
}

.trainer-transfer-info.small {
  min-height: 30%;
}

.trainer-transfer-info.small
  .content {
  min-height: 15rem;
}
.trainer-transfer-info
  .content
  form {
  padding: 1rem 0;
}

.trainer-transfer-info.small
  .content
  form {
  margin-left: 20%;
  padding: 1rem 0;
}

.trainer-transfer-info
  .content
  form
  label {
  color: #868585;
  transform: rotate(
    -0.25deg
  );
  display: block;
}

.trainer-transfer-info
  .content
  form
  textarea {
  color: #868585;
  border: 1.30841px
    solid #c6c6c6;
  box-sizing: border-box;
  border-radius: 6.54204px;
  transform: rotate(
    -0.25deg
  );
  width: 80%;
  min-height: 8rem;
  resize: none;
  outline: none;
  padding: 0.5rem;
  margin-top: 0.3rem;
}

.trainer-transfer-info
  .content
  form
  button {
  background: #1d5fad;
  border-radius: 10px;
  padding: 0.5rem
    1.5rem;
  color: #fff;
  margin-top: 2rem;
  margin-left: 25%;
}

.trainer-transfer-info.danger
  .content
  form
  button {
  background: #ad1d1d;
}
.trades-info h2 {
  font-weight: 600;
  color: #868585;
}
.trade-info-description {
  width: 100%;
  height: 0.03%;
  background: #eaeaea;
}

.bottom-buttons {
  width: 100%;
}

.bottom-buttons
  button {
  background: #1d5fad;
  border-radius: 9.87952px;
  padding: 7px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}
.bottom-buttons
  button.danger {
  background: #ad1d1d;
}

.documents-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.documents-list
  > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid
    gray;
}

.documents-list
  > div
  h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  min-height: 4rem;
  border-bottom: 1px
    solid gray;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.55rem;
}

.documents-list
  > div
  svg {
  cursor: pointer;
  color: #1d5fad;
  font-size: 0.8rem;
}

.payment-totals {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #9a9a9a;
  font-weight: bold;
}
.school-totals {
  display: flex;
  justify-content: space-between;
  color: #9a9a9a;
  font-weight: bold;
}

.payment-totals.mb {
  margin-bottom: 1rem;
}

.payment-totals
  span {
  color: #1d5fad;
  font-weight: bold;
  margin-right: 0.2rem;
}
.school-totals span {
  color: #1d5fad;
  font-weight: bold;
  margin-right: 0.1rem;
  font-size: 0.8em;
}

.payment-totals,.school-totals
  > * {
  margin: 0 0.5rem;
}

.payment-select {
  min-width: 7rem;
}

.close-btn {
  background-color: red;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .payment-totals {
    flex-direction: row;
  }

  .payment-select {
    min-width: 10rem;
  }

  .payment-select.small {
    min-width: 8rem;
  }
  .documents-list
    > div
    svg {
    cursor: pointer;
    color: #1d5fad;
    font-size: 1.2rem;
  }

  .documents-list
    > div
    h4 {
    font-size: 1rem;
  }

  .trainer-transfer-info {
    min-width: 50%;
  }
  .school-info {
    min-width: 95%;
  }
  .dde-student-info{
    min-width: 80%;
    margin-left: 11rem;
    /* min-height: 100%; */
  }

  .trainer-transfer-info.large {
    min-width: 60%;
  }
  .trainer-transfer-info.small {
    min-width: 40%;
  }
  .trainer-transfer-info
    .content
    form
    .form-row {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
  }
  .trainer-transfer-info
    .content
    form
    .form-group {
    width: 40%;
  }
  .trainer-transfer-info
    .content
    form
    button.center {
    margin-left: 45%;
  }

  .bottom-buttons {
    width: 80%;
    margin-left: 20%;
  }
}

.trainer-appoint-container {
  background-color: white !important;
  width: 60%;
  text-align: center;
}

.trainer-appoint-container
  .row-colored
  td {
  background: #9ca1a714 !important;
}

.trainer-appoint-container
  button {
  width: 117px;
  height: 38px;
  color: white;
  background: #1d5fad;
  border-radius: 10px;
}

.bg-of-button {
  text-align: center;
  margin-bottom: 40px;
  width: 100% !important;
}
.bg-of-button
  button {
  width: 180px;
  height: 39px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: #868585;
  border-radius: 5px;
  background-color: transparent;
}
.bg-of-button
  .active {
  background: #1d5fad;
  color: #fff;
}

.bg-of-button
  .button-container {
  background: #e5e5e5;
  border-radius: 5px;
  width: max-content;
  padding: 9.5px 0 !important;
}
.pagination__margin {
  margin-top: -60px;
  margin-bottom: 30px;
}

table tr th, table tr td{
  font-size: 13px !important;
}


@media screen and (min-width: 992px){
.dde-student-info {
    min-width: 50%;
    margin-left: 30rem;
 }
}